<div >
    <div ng-controller="OrderSubmit">
        OrderSubmit
        <div class="btn btn-danger">{{orderDetail.InvoiceID}}</div>
        <table>
            <tr>
                <th> Product Name</th>
                <th> Product Name</th>
                <th> Product Name</th>
                <th> Product Name</th>
                <th> Product Name</th>
                <th> Product Name</th>
            </tr>
            <tr ng-repeat="item in orderDetail">


                <td>{{item.OrderItems}}</td>

                <td>{{item.OrderDate}}</td>

                <td>{{item.ProductSize}}</td>

                <td>{{item.OrderAmount}}</td>

                <td>{{item.ProductID}}</td>

                <td>{{item.PaymantDetailsID}}</td>

                <td>{{item.CustomerID}}</td>
            </tr>
        </table>
        <button type="submit" ng-click="Submitorder()">Submit Order</button>
    </div>
</div>